In [2]:
# ========================
# Week 1 Project - Climate Risk and Disaster Management
# Exploratory Data Analysis of FEMA Disaster Declarations
# ========================

# Step 1: Import Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Step 2: Load the Dataset
# Make sure to upload your dataset file (disaster_declarations_summaries.csv) in Google Colab
df = pd.read_csv("/content/DisasterDeclarationsSummaries.csv")

# Show first 5 rows
df.head()

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
0,3,0,1,1,1,LA,1953-05-29T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-05-29T00:00:00.000Z,1953-05-29T00:00:00.000Z,1960-02-01T00:00:00.000Z,NaN,NaN,86f3e47785cb7acc51364d4535d36101,2020-09-23T19:21:12.990Z,5f6ba02931a8c6681cfc6942
1,1,0,1,1,1,GA,1953-05-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-05-02T00:00:00.000Z,1953-05-02T00:00:00.000Z,1954-06-01T00:00:00.000Z,NaN,NaN,1dcb40d0664d22d39de787b706b0fa69,2020-09-23T19:21:12.987Z,5f6ba02931a8c6681cfc6943
2,9,0,1,1,1,TX,1953-06-19T00:00:00.000Z,1953,DR,Flood,FLOOD,1953-06-19T00:00:00.000Z,1953-06-19T00:00:00.000Z,1958-01-01T00:00:00.000Z,NaN,NaN,5cc3af111f94e26100fca2605a9d0d26,2020-09-23T19:21:12.993Z,5f6ba02931a8c6681cfc6947
3,11,0,1,1,1,NH,1953-07-02T00:00:00.000Z,1953,DR,Fire,FOREST FIRE,1953-07-02T00:00:00.000Z,1953-07-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,9d856a5b709986eb302e605ffbb10c7b,2020-09-23T19:21:12.994Z,5f6ba02931a8c6681cfc6949
4,4,0,1,1,1,MI,1953-06-02T00:00:00.000Z,1953,DR,Tornado,TORNADO,1953-06-02T00:00:00.000Z,1953-06-02T00:00:00.000Z,1956-02-01T00:00:00.000Z,NaN,NaN,1dbe5937a01fc74c8e699912e3f555cb,2020-09-23T19:21:12.990Z,5f6ba02931a8c6681cfc694f

In [3]:
# Step 3.1: Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60191 entries, 0 to 60190
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   disasterNumber        60191 non-null  int64
 1   ihProgramDeclared     60191 non-null  int64
 2   iaProgramDeclared     60191 non-null  int64
 3   paProgramDeclared     60191 non-null  int64
 4   hmProgramDeclared     60191 non-null  int64
 5   state                 60191 non-null  object
 6   declarationDate       60191 non-null  object
 7   fyDeclared            60191 non-null  int64
 8   disasterType          60191 non-null  object
 9   incidentType          60191 non-null  object
 10  title                 60191 non-null  object
 11  incidentBeginDate     60191 non-null  object
 12  incidentEndDate       52093 non-null  object
 13  disasterCloseOutDate  43530 non-null  object
 14  declaredCountyArea    59992 non-null  object
 15  placeCode             59992 non-null  float64
 16  hash                  60191 non-null  object
 17  lastRefresh           60191 non-null  object
 18  id                    60191 non-null  object
dtypes: float64(1), int64(6), object(12)
memory usage: 8.7+ MB

In [4]:
# Step 3.2: Statistical Summary
df.describe(include="all")

,disasterNumber,ihProgramDeclared,iaProgramDeclared,paProgramDeclared,hmProgramDeclared,state,declarationDate,fyDeclared,disasterType,incidentType,title,incidentBeginDate,incidentEndDate,disasterCloseOutDate,declaredCountyArea,placeCode,hash,lastRefresh,id
count,60191.000000,60191.000000,60191.000000,60191.000000,60191.000000,60191,60191,60191.000000,60191,60191,60191,60191,52093,43530,59992,59992.000000,60191,60191,60191
unique,NaN,NaN,NaN,NaN,NaN,59,3691,NaN,4,23,1902,3201,3014,1703,2770,NaN,60191,52060,60191
top,NaN,NaN,NaN,NaN,NaN,TX,2020-03-13T16:00:00.000Z,NaN,DR,Severe Storm(s),COVID-19 PANDEMIC,2020-01-20T14:00:00.000Z,2005-10-01T08:55:00.000Z,2020-04-21T23:59:00.000Z,Washington (County),NaN,3170249ffabcb82a94870033e47bf0ed,2020-09-23T19:21:13.001Z,5fbec1980eb5d36238652f00
freq,NaN,NaN,NaN,NaN,NaN,4562,2875,NaN,40978,16959,3928,7309,2926,674,517,NaN,1,6,1
mean,2475.266402,0.166138,0.285408,0.931368,0.355684,NaN,NaN,2003.345118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97212.267952,NaN,NaN,NaN
std,1378.885968,0.372207,0.451612,0.252829,0.478724,NaN,NaN,14.596796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10961.875694,NaN,NaN,NaN
min,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1953.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,1247.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN,1996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99029.000000,NaN,NaN,NaN
50%,2802.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN,2005.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99073.000000,NaN,NaN,NaN
75%,3458.000000,0.000000,1.000000,1.000000,1.000000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99125.000000,NaN,NaN,NaN
max,5382.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99507.000000,NaN,NaN,NaN

In [5]:
# Step 3.3: Missing Values Check
df.isnull().sum()

disasterNumber              0
ihProgramDeclared           0
iaProgramDeclared           0
paProgramDeclared           0
hmProgramDeclared           0
state                       0
declarationDate             0
fyDeclared                  0
disasterType                0
incidentType                0
title                       0
incidentBeginDate           0
incidentEndDate          8098
disasterCloseOutDate    16661
declaredCountyArea        199
placeCode                 199
hash                        0
lastRefresh                 0
id                          0
dtype: int64